.table-overview {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.mat-cell {
  &__image {
    width: 40px;
  }
}