.favorite-item {
    height: 48px;
    line-height: 48px;
    padding: 10px;
    vertical-align: top;
    background-color: #f2f2f2;

    &:hover {
        background: white;
    }
    &__link {
        vertical-align: top;
        cursor: pointer;
        color: #1976d2;
        text-decoration: none;
        width: 70px;
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        height: 28px;
        line-height: 28px;

        &:hover {
            opacity: 0.8;
        }
    }
    &__image {
        width: 30px;
        margin: 0 10px;
    }
}