<mat-nav-list>
    <div class="favorite-item" *ngFor="let fv of favorites" routerLinkActive="active-link" (click)="removeEmoji(fv)">
        <img class="favorite-item__image" alt="fv.name" src="{{fv.path}}}"/>
        <a class="favorite-item__link" matLine>{{fv.name}}</a>
    </div>
</mat-nav-list>
