.main-container {
    display: flex;
    width: 100%;
}
.left-panel-container {
    height: 100%;
    flex: 0 0 150px;

    &--is-hidden {
        display: none;
    }
}

.content {
    flex: 1;
    overflow: auto;
}




/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/