<app-top-bar class="mat-step-header top-bar"></app-top-bar>
<div class="main-container">
  <left-panel
          [className]="'left-panel-container ' + favorites.length ? '' : 'left-panel-container--is-hidden'"
  />
  <div class="content">
    <div class="mat-app-background basic-container">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->