<header class="app-top-bar">
  <a class="app-top-bar__link" [routerLink]="['/']">
    <h1 class="app-top-bar__header">Awesome emojis</h1>
  </a>
  <input class="app-top-bar__input" matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
</header>