.app-top-bar {
    width: 100%;
    height: 68px;
    background-color: #1976d2;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    box-sizing: border-box;

    &__header {
        color: white;
        margin: 0;
    }

    &__link {
        text-decoration: none;
    }

    &__input {
        font-size: 14px;
        padding: 10px 3rem 10px 16px;
        border: none;
        border-radius: 100px;
    }
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/